@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-image: url("./components/assets/fondod.jpg");
   background-position: center;
   background-size: cover;
   font-family: get_schwifty;
}
